<% provide(:title, '旅行') %>

<div class="large-map">
  <div id="map"></div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with url: root_path, method: :get, local: true do |f| %>
      <%= f.text_field :title %>
      <%= f.submit "検索", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
<h3 class = "trips-count">
  (<%= @trips.count %>)
</h3>
<div class="trips">
  <%= render @trips %>
</div>

<div class="pagination-box">
  <%= will_paginate @trips %>
</div>

<script type="text/javascript">
  function initMap() {
    var test ={lat: 39, lng: 138};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 5,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var style = [{
    featureType: 'all',
    elementType: 'labels',
    stylers: [{ visibility: 'off' }]
  }];
  var lopanType = new google.maps.StyledMapType(style);
  map.mapTypes.set('noText', lopanType);
  map.setMapTypeId('noText');

    <% @trips.each do |trip| %>
    <% if trip.address %>
    var contentString = '<%= trip.address %>';
    var locate ={lat: <%= trip.latitude %>, lng: <%= trip.longitude %>};
    var marker = new google.maps.Marker({
                  position: locate,
                  map: map,
                  title: contentString
                 });

    marker.addListener('click', function() {
      location.href= '<%= trip_path(trip.id) %>';
    });

     <% end %>
     <% end %>
  }
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
