<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="logout-home">
      <%= render 'layouts/alert' %>
      <div class="center">
        <div class="content">
          <h1>旅空</h1>
          <h3>
            ようこそ、旅空へ！
            <p>旅空は、旅行写真の管理サービスです！</p>
          </h3>
          <p><%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-success" %></p>
          <p><%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-success" %></p>
          <%= render 'shared/example' %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
