<% provide(:title, '旅行作成') %>

<h1>旅行作成</h1>
<div class="title">
  新たに旅行のページを作成できます。
</div>

<%= form_with(model: @trip, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title, placeholder: "タイトルを記入してください..." %>
  <%= f.label :content, "コメント" %>
  <%= f.text_area :content, placeholder: "コメントを記入することができます..." %>
  <%= f.label :adress, "旅行先" %>
  <%= f.text_field :address, placeholder: "旅行先を記入することができます..." %>
  <%= f.submit "旅行作成", class: "btn btn-primary btn-lg",
        data: { confirm: "投稿の内容に間違いはありませんか？" } %>
  <%= f.submit "リセット", type: :reset ,class: "reset btn btn-lg btn-warning" %>
<% end %>
