<% provide(:title, @trip.title) %>

<div class="title">
  <strong><%= @trip.title %></strong>
</div>
<% if @trip.address.present? || @trip.latitude.present? || @trip.longitude.present? %>
  <div class="detail-map">
    <div id="map"></div>
  </div>
<% end %>

<div class="content">
  <% if @trip.content.present? %>
    <%= simple_format(@trip.content) %>
  <% else %>
    <h2>
      「編集する」より、コメントを追加することができます。
    </h2>
  <% end %>
</div>

<div class="form-open">
  <button class="btn btn-primary btn-lg">編集する</button>
</div>

<div class="form-box">
  <%= form_with(model: @trip, remote: true) do |f| %>

    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "タイトルをを記入してください..." %>
    <%= f.label :content, "コメント" %>
    <%= f.text_area :content, placeholder: "コメントを記入することができます..." %>
    <%= f.label :adress, "旅行先" %>
    <%= f.text_field :address, placeholder: "旅行先を記入することができます..." %>
    <%= f.label :images, "写真を追加" %>
    <%= f.file_field :images, multiple: true, accept: "image/jpeg,image/png" %>
    <%= f.submit "変更する", class: "btn btn-primary btn-lg",
          data: { confirm: "変更する内容に間違いはありませんか？" } %>
    <%= f.submit "変更内容をリセット", type: :reset ,class: "reset btn btn-lg btn-warning" %>
  <% end %>

  <%= link_to "この旅行を削除", @trip, method: :delete, class: "btn btn-danger btn-lg",
                              data: { confirm: "本当に削除しても、よろしいでしょうか？" } %>

  <div class="form-close">
    <button class="btn btn-lg">閉じる</button>
  </div>
</div>

<% if @images.present? %>
  <%= form_with(model: @trip, url: {controller: 'trips', action: 'destroy_image'} , remote: true) do |f| %>

    <div class="photo-delete-form">
      <div class="btn btn-danger btn-lg">写真を削除</div>
    </div>

    <div class="photo-delete-btn">
      <div class="btn btn-warning btn-lg photo-reset-btn">削除取り消し</div>
      <%= f.submit "写真を削除", class: "btn btn-danger btn-lg",
                                data: { confirm: "本当に削除しても、よろしいでしょうか？" } %>
      <div class="title">
        削除する写真を、チェックボックスより選択してください。
      </div>
    </div>

    <h3 class="trips-count">
      写真(<%= @images.count %>)
    </h3>
    <div class="trips">
      <% @images.each do |image| %>
        <div class="garally" id="image-<%= image.id %>" data-toggle = "modal" data-target = "#Modal-<%= image.id %>">
          <div class="check-box">
            <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
          </div>
          <%= image_tag image.variant(resize_to_fill: [320, 320]) %>
        </div>
        <%= render 'modal', image: image %>
      <% end %>
    </div>
  <% end %>

  <div class="pagination-box">
    <%= will_paginate @images %>
  </div>
<% else %>
  <h2>
    「編集する」より、写真を追加することができます。
  </h2>
<% end %>

<%= render 'detail_map', trip: @trip %>
<%= javascript_pack_tag 'shared/form' %>
<%= javascript_pack_tag 'trips/show' %>
