<% provide(:title, "メモ") %>

<h1>次はどこに行こう？</h1>

<div class="large-map">
  <div id="map"></div>
</div>

<div class="form-open">
  <%= link_to "Google マップへ移動する", 'https://www.google.co.jp/maps',
              class: "btn btn-lg btn-success", target: "_blank", rel: "noopener noreferrer" %>
  <button class="btn btn-primary btn-lg">メモを追加</button>
</div>

<div class="form-box">
  <%= form_with(model: @memo, remote: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :adress, "旅行先" %>
    <%= f.text_field :address, placeholder: "旅行先を記入することができます..." %>
    <%= f.label :content, "内容" %>
    <%= f.text_area :content, placeholder: "メモの内容を記入することができます..." %>
    <%= f.submit "メモを追加", class: "btn btn-primary btn-lg",
                   data: { confirm: "メモの内容に間違いはありませんか？" } %>
  <% end %>

  <div class="form-close">
    <button class="btn btn-lg">閉じる</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>
      メモ(<%= @memos.count %>)
    </h3>
    <% if @memos.any? %>
      <ul class="memos">
        <%= render @memos %>
      </ul>
        <%= will_paginate @memos %>
    <% else %>
    <h2>
      行きたい場所のメモを追加しよう
    </h2>
    <% end %>
  </div>
</div>

<%= render 'shared/large_map', objects: @memos %>
<%= javascript_pack_tag 'shared/form' %>
